.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-light-gray);
    text-decoration: none;
    font-size: 12px;
    padding: 12px 0;
    transition: 0.1s all;
    cursor: pointer;
}
.wrapper:hover, .wrapper:hover > .icon > svg {    
    fill: var(--color-lightest-gray);
    color: var(--color-lightest-gray);
}

.icon > svg {
    width: 24px;
    height: 24px;
    fill: var(--color-light-gray);
}
.active > svg, .wrapper:hover .active > svg{
    fill: var(--color-red);
}
.label {
    font-size: 12px;
}

.active, .active:hover {
    color: var(--color-red);
}

.staticLightestRed, .staticLightestRed > svg,  .wrapper:hover .staticLightestRed > svg{
    fill: var(--color-lightest-red);
    color: var(--color-lightest-red);
}
