.sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #eee;
    background-color: var(--color-white);
    padding: 32px 0;
    overflow-y: auto; /* если контент будет длиннее экрана */
}
  
  .menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .bottom {
    margin-top: auto;
  }
  