:root {
    --color-dark-gray: #303030;
    --color-gray: #707070;
    --color-light-gray: #9C9C9C;
    --color-lightest-gray: #D1D1D1;
    --color-lightest-gray1: #F6F6F6;
    --color-dark-red: #C60E2E;
    --color-red: #E4163A;
    --color-light-red: #FF5761;
    --color-lightest-red: #FF768E;    
    --color-blue: #344472;
    --color-white: #FFFFFF;
  }